<footer class="footer container">
  <div class="footer-wrapper">
    <div class="contacts-block">
      <div class="contacts-time">
        <b class="contacts__header">График работы:</b>
        <p class="contacts__text">ПН - ПТ 09:00 - 18:00</p>
        <p class="contacts__text">Заказы через сайт принимаем круглосуточно!</p>
      </div>
      <div class="contacts-address">
        <b class="contacts__header">Адрес:</b>
        <a class="contacts__text contacts__text--mobile" href="yandexnavi://build_route_on_map?lat_to=55.551970&lon_to=37.684775">Московская область, Ленинский район, Видное, Донбасская улица, 2с1</a>
        <a class="contacts__text" href="https://yandex.ru/maps/-/CKUMy--O" target="_blank">Московская область, Ленинский район, Видное, Донбасская улица, 2с1</a>
      </div>
    </div>
    <div class="footer-menu">
      <ul class="footer-menu__list">
        <li class="footer-menu__item">
          <a href="#" class="footer-menu__link">Оптовикам</a>
        </li>
        <li class="footer-menu__item">
          <a href="#" class="footer-menu__link">О нас</a>
        </li>
        <li class="footer-menu__item">
          <a href="#" class="footer-menu__link">Доставка</a>
        </li>
        <li class="footer-menu__item">
          <a href="#" class="footer-menu__link">Гарантия</a>
        </li>
        <li class="footer-menu__item">
          <a href="#" class="footer-menu__link">Оплата</a>
        </li>
        <li class="footer-menu__item">
          <a href="#" class="footer-menu__link">Новости</a>
        </li>
        <li class="footer-menu__item">
          <a href="#" class="footer-menu__link">Чем полезны</a>
        </li>
        <li class="footer-menu__item">
          <a href="#" class="footer-menu__link">Установка</a>
        </li>
        <li class="footer-menu__item">
          <a href="#" class="footer-menu__link">Партнеры</a>
        </li>
        <li class="footer-menu__item">
          <a href="#" class="footer-menu__link">Контакты</a>
        </li>
      </ul>
    </div>
    <div class="footer__right">
      <div class="footer__right-wrapper">
        <b class="contacts__header">Наш шоурум</b>
        <p class="contacts__text">Каширское шоссе, д. 19, к. 1</p>
      </div>
      <div class="footer__right-wrapper footer__right-tel">
        <b class="contacts__header">Call-центр</b>
        <a class="contacts__text" href="tel:+78002226167">+7 (800) 222-61-67</a>
      </div>
      <div class="footer__right-wrapper">
        <b class="contacts__header">Поддержка оптовиков</b>
        <a class="contacts__text" href="tel:+74952236167">+7 (495) 223-61-67</a>
      </div>
    </div>
    <div class="social">
      <a class="social__item social__item--fb icon-fb" href="#"></a>
      <a class="social__item social__item--inst icon-inst" href="#"></a>
      <a class="social__item social__item--vk icon-vk" href="#"></a>
      <a class="social__item social__item--odkl icon-odkl" href="#"></a>
    </div>
  </div>
  <div class="footer-copyrights">
    <div class="footer-copyrights__left">
      <span class="footer-copyrights__left-text">© 2019 Omnilux - Все права защищены.</span>
      <span class="footer-copyrights__left-text">Запрещено использование материалов сайта без согласия автора.</span>
    </div>
    <a href="https://5corners.ru/" class="footer-copyrights__right-logo"></a>
  </div>
</footer>
