<nav class="nav-subtop">
  <div class="nav-subtop__container">
    <div class="nav-subtop-menu">
      <ul class="nav-subtop-menu__list">
        <li class="nav-subtop-menu__item">
          <a href="../catalog.html" class="nav-subtop-menu__link">Каталог</a>
        </li>
        <li class="nav-subtop-menu__item">
          <a href="../news.html" class="nav-subtop-menu__link">Новости</a>
        </li>
        <li class="nav-subtop-menu__item">
          <a href="#" class="nav-subtop-menu__link">Гарантия</a>
        </li>
        <li class="nav-subtop-menu__item">
          <a href="#" class="nav-subtop-menu__link">Оптовикам</a>
        </li>
        <li class="nav-subtop-menu__item">
          <a href="#" class="nav-subtop-menu__link">Доставка</a>
        </li>
        <li class="nav-subtop-menu__item">
          <a href="#" class="nav-subtop-menu__link">Отзывы</a>
        </li>
        <li class="nav-subtop-menu__item">
          <a href="#" class="nav-subtop-menu__link">О нас</a>
        </li>
        <li class="nav-subtop-menu__item">
          <a href="#" class="nav-subtop-menu__link">Установка</a>
        </li>
        <li class="nav-subtop-menu__item">
          <a href="#" class="nav-subtop-menu__link">Контакты</a>
        </li>
      </ul>

      <div class="nav-subtop__buttons">
        <button class="nav-btn nav-btn__heart icon-heart"></button>
        <button class="nav-btn nav-btn__search icon-search"></button>
        <button class="nav-btn nav-btn__login icon-login"></button>
        <button class="nav-btn nav-btn__cart nav-btn__cart--product-in icon-cart"></button>
      </div>
    </div>
    <div class="nav-subtop__news">
      <div class="news-slider">
        <div class="news__item">
          <div class="news__container">
            <div class="news__wrapper">
              <h4 class="news__header">Киберпонедельник !!!</h4>
              <b class="news__subheader">с 26.01.2019 до 28.01.2019</b>
              <p class="news__text">Нашли товар в другом магазине дешевле, чем у нас? Снизим цену!</p>
            </div>
            <div class="news__wrapper-img">
              <!--	любой размер, но картинка будет вытягивать блок по высоте, если она выше оригинала -->
              <img class="news__img" src="./img/news_img_01.jpg" alt="news_img">
            </div>
          </div>
        </div>
        <div class="news__item">
          <div class="news__container">
            <div class="news__wrapper">
              <h4 class="news__header">Киберпонедельник !!!</h4>
              <b class="news__subheader">с 26.01.2019 до 28.01.2019</b>
              <p class="news__text">Нашли товар в другом магазине дешевле, чем у нас? Снизим цену!</p>
            </div>
            <div class="news__wrapper-img">
              <!--	любой размер, но картинка будет вытягивать блок по высоте, если она выше оригинала -->
              <img class="news__img" src="./img/news_img_01.jpg" alt="news_img">
            </div>
          </div>
        </div>
        <div class="news__item">
          <div class="news__container">
            <div class="news__wrapper">
              <h4 class="news__header">Киберпонедельник !!!</h4>
              <b class="news__subheader">с 26.01.2019 до 28.01.2019</b>
              <p class="news__text">Нашли товар в другом магазине дешевле, чем у нас? Снизим цену!</p>
            </div>
            <div class="news__wrapper-img">
              <!--	любой размер, но картинка будет вытягивать блок по высоте, если она выше оригинала -->
              <img class="news__img" src="./img/news_img_01.jpg" alt="news_img">
            </div>
          </div>
        </div>
      </div>
      <div class="news-slider__dots-wrapper"></div>
    </div>

  </div>
</nav>
