<script src="js/jquery-3.4.1.min.js"></script>
<!--<script src="js/plugins/slick.min.js"></script>-->
<!--<script src="js/plugins/masonry.pkgd.min.js"></script>-->
<!--<script src="js/plugins/smooth-scroll.polyfills.min.js"></script>-->
<!--<script src="js/plugins/jquery.waypoints.min.js"></script>-->
<!--<script src="js/plugins/sticky.waypoints.min.js"></script>-->
<!--<script src="js/plugins/kalideo.min.js"></script>-->
<!--<script src="js/plugins/jquery.nice-select.min.js"></script>-->
<!--<script src="js/plugins/jquery.knob.min.js"></script>-->
<!--<script src="js/plugins/nouislider.min.js"></script>-->
<!--<script src="js/plugins/jquery.validate.min.js"></script>-->
<!--<script src="js/plugins/jquery.inputmask.min.js"></script>-->
<!--<script src="js/plugins/packery.pkgd.min.js"></script>-->
<!--<script src="js/plugins/wNumb.min.js"></script>-->
<!--<script src="js/plugins/jquery.barrating.min.js"></script>-->
<!--<script src="js/plugins/autosize.min.js"></script>-->
<!--<script src="js/plugins/jquery.zoom.min.js"></script>-->
<script src="js/plugins.min.js"></script>
<script src="js/scripts.min.js"></script>
