.change-password-modal {
  top: 55%;
}

.change-password-container {
  padding-bottom: 0;
}

.change-password__input-password {
  &:focus {

    & ~ .modal__input-btn-show-pass {
      opacity: 1;
    }
  }
}

.change-password__btn-submit {
  width: 100%;
}
