.register-confirm__btn-submit {
  width: 100%;
}

.register__links-container {
  display: flex;
  justify-content: space-between;
}

.register__link {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #D4D4D4;
  border-bottom: 2px solid $yellow;
  text-decoration: none;
  transition: .3s;

  &:hover {
    color: $white-hover;
  }

  @media (max-width: 450px) {
    font-size: 10px;
  }
}
