<div class="modal buy-one-click">
  <form class="valid-form" action="">
    <div class="modal-container">
      <h2 class="modal__header">Купить в 1 клик</h2>

      <div class="modal__input-container">
        <input type="text" class="modal__input" placeholder="Имя" name="name" required>
        <h4 class="modal__input-header">Имя</h4>
      </div>
      <div class="modal__input-container">
        <input type="text" class="modal__input modal__input-tel" placeholder="Телефон" name="phone" required>
        <h4 class="modal__input-header">Телефон</h4>
      </div>
      <div class="modal__input-container">
        <input type="email" class="modal__input" placeholder="Email" name="email" required>
        <h4 class="modal__input-header">Email</h4>
      </div>

    </div>

    <button class="modal__btn-submit buy-one-click__btn" type="submit">Купить</button>
  </form>

  <button class="modal__btn-close"><i class="icon-close"></i></button>
</div>
