<div class="modal change-password-modal">
  <form class="" action="">
    <div class="modal-container change-password-container">
      <div class="modal-header-container">
        <button class="modal__btn-back"><i class="icon-arrow-back"></i></button>
        <h2 class="modal__header">Изменть пароль</h2>
      </div>

      <div class="modal__input-container">
        <input type="text" class="modal__input" placeholder="Введите старый пароль" name="oldPassword">
        <h4 class="modal__input-header">Введите старый пароль</h4>
      </div>

      <div class="modal__input-container">
        <input type="password" class="modal__input modal__input-password change-password__input-password" placeholder="Пароль или код из смс" name="password">
        <h4 class="modal__input-header">Пароль или код из смс</h4>
        <button class="modal__input-btn-show-pass"></button>
      </div>

      <div class="modal__input-container">
        <input type="password" class="modal__input modal__input-password change-password__input-password" placeholder="Пароль или код из смс" name="password">
        <h4 class="modal__input-header">Пароль или код из смс</h4>
        <button class="modal__input-btn-show-pass"></button>
      </div>
    </div>

    <button class="modal__btn-submit change-password__btn-submit" type="submit">Войти</button>
  </form>

  <button class="modal__btn-close"><i class="icon-close"></i></button>

  <div class="modal__social-container">
    <span class="modal-social__text">Или войдите через любимую соцсеть:</span>
    <ul class="modal-social__list">
      <li class="modal-social__item">
        <a href="#">
          <i class="modal-social__icon modal-social__icon--vk"></i>
        </a>
      </li>
      <li class="modal-social__item">
        <a href="#">
          <i class="modal-social__icon modal-social__icon--fb"></i>
        </a>
      </li>
      <li class="modal-social__item">
        <a href="#">
          <i class="modal-social__icon modal-social__icon--twitter"></i>
        </a>
      </li>
      <li class="modal-social__item">
        <a href="#">
          <i class="modal-social__icon modal-social__icon--google-plus"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
