<div class="modal forgot-password-modal">
  <form class="valid-form" action="">
    <div class="modal-container forgot-password-container">
      <div class="modal-header-container">
        <button class="modal__btn-back"><i class="icon-arrow-back"></i></button>
        <h2 class="modal__header">Забыли пароль</h2>
      </div>

      <p class="modal__text forgot-password__text">Заполните поле Телефон или E-mail.</p>
      <p class="modal__text">Мы отправим вам сообщение на телефон или по электронной почте с инструкциями по созданию нового пароля.</p>

      <div class="modal__input-container">
        <input type="text" class="modal__input modal__input-tel" placeholder="Телефон или E-mail" name="phone">
        <h4 class="modal__input-header">Телефон или E-mail</h4>
      </div>
    </div>

    <button class="modal__btn-submit forgot-password__btn-submit" type="submit">Отправить</button>
  </form>

  <button class="modal__btn-close"><i class="icon-close"></i></button>

  <div class="modal__social-container">
    <span class="modal-social__text">Или войдите через любимую соцсеть:</span>
    <ul class="modal-social__list">
      <li class="modal-social__item">
        <a href="#">
          <i class="modal-social__icon modal-social__icon--vk"></i>
        </a>
      </li>
      <li class="modal-social__item">
        <a href="#">
          <i class="modal-social__icon modal-social__icon--fb"></i>
        </a>
      </li>
      <li class="modal-social__item">
        <a href="#">
          <i class="modal-social__icon modal-social__icon--twitter"></i>
        </a>
      </li>
      <li class="modal-social__item">
        <a href="#">
          <i class="modal-social__icon modal-social__icon--google-plus"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
