<div class="modal register-confirm-modal">
  <form class="" action="">
    <div class="modal-container">
      <div class="modal-header-container">
        <button class="modal__btn-back"><i class="icon-arrow-back"></i></button>
        <h2 class="modal__header">Регистрация</h2>
      </div>

      <p class="modal__text">Мы отправили смс с кодом подтверждения на ваш номер. Введите полученный код в этом окне.</p>

      <div class="modal__input-container">
        <input type="text" class="modal__input" placeholder="Введите код" name="enterCode">
        <h4 class="modal__input-header">Введите код</h4>
      </div>

      <div class="register__links-container">
        <a class="register__link" href="#">Отправить ещё раз</a>
        <a class="register__link" href="#">Отправить на e-mail</a>
      </div>
    </div>

    <button class="modal__btn-submit register-confirm__btn-submit" type="submit">Продолжить</button>
  </form>

  <button class="modal__btn-close"><i class="icon-close"></i></button>
</div>
